body {
    background: linear-gradient(to left, #2980b9, #6dd5fa, #ffffff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

body>main {
    max-height: 100vh;
}

img {
    max-height: 100vh;
}